body {
  font-family: "Open Sans", sans-serif !important;
}

.text-slanted {
  font-family: "Courgette", cursive;
}

.letter-spacing {
  letter-spacing: 0.5rem;
}

.header-hero {
  min-height: calc(100vh - 72.88px);
  background: linear-gradient(
      rgba(183, 110, 121, 0.9),
      rgba(183, 110, 121, 0.9)
    ),
    url("./images/homeBcg.jpg") center/cover no-repeat;
}
